body {
  display: flex;
  justify-content: center; /* Tengah horizontal */
  /* align-items: center; Tengah vertikal */
  min-height: 100vh; /* WAJIB: Tinggi minimal 100% layar */
  margin: 0; /* Hilangkan margin default body */
}
.bungkus {
  align-items: center;
  box-shadow: 0 4px 8px black;
  justify-content: center;
  width: 300px;
  padding: 30px;
  text-align: center;
}
.salam {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.kalkulator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px black;
}
.angka {
  padding: 0 20px 0 20px;
}
